<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Настройка Unix-сокета -->
    <target xsi:type="File" name="journalctl" fileName="/dev/log">
      <layout>${logger}: ${message}</layout>
    </target>
  </targets>
  <rules>
    <!-- Запись всех логов -->
    <logger name="*" minlevel="Info" writeTo="journalctl" />
  </rules>
</nlog>
